<div class="container article-archive">
    <div class="row">
        <div class="col-md-12">
            <%= render 'articles/search' %>
            <%= render 'articles/posts' %>
        </div>
    </div>
</div>